<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Supermarket Stock Management{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'product-list' %}">Products</a></li>
                <li><a href="{% url 'supplier-list' %}">Suppliers</a></li>
                <!-- Authentication Links -->
                {% if user.is_authenticated %}
                    {% if user.profile.role == 'manager' %}
                        <li><a href="{% url 'add_cashier' %}">Add Cashier</a></li>
                        <li><a href="{% url 'change_password' %}">Change Password</a></li>
                    {% endif %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    <li><a href="{% url 'profile' %}">{{ user.username }}</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Content from other templates will be inserted here -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Supermarket Stock Management</p>
    </footer>
</body>
</html>
